<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsLocalNetworkingUsageDescription</key>
		<dict/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.nuclear.liveAPP.socket.keepalive</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ReplyKit 需要區域網路權限來搜尋本機 RTMP 伺服器與通信</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSScreenCaptureUsageDescription</key>
	<string>擷取您選擇的螢幕畫面與聲音，用於直播推流或本地錄製。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>依您的選擇，將完成的本地錄影儲存至照片。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>將您選擇分享的麥克風聲音加入直播或本地錄影。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>audio</string>
		<string>screen-capture</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
</dict>
</plist>
